@model

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="card">
        <div class="card-header">
            Se presento un error!
        </div>
        <div class="card-body">
            <h5 class="card-title">Pagina de error</h5>
            <p class="card-text">vuelva a intentarlo.</p>
            <a asp-action="Index" asp-controller="Home">
                regresar
            </a>
        </div>
    </div>
</body>
</html>

